﻿<section class="w3l-call-to-action_9">
    <div class="call-w3">
        <div class="container">
            <div class="booking-form-content">
                <div class="main-titles-head ">
                    <h3 class="header-name">
                        En İyi tatili satın alın
                    </h3>
                </div>
                <form method="post" class="booking-form">
                    <div class="row book-form">
                        <div class="form-input col-md-4">
                            <label>Müşteri Adı</label>
                            <input type="text" name="CustomerName" placeholder="Müşteri Adı">
                        </div>
                        <div class="form-input col-md-4">
                            <label>Müşteri Mail</label>
                            <input type="email" name="Mail" placeholder="Mail Adresi">
                        </div>
                        <div class="form-input col-md-4">
                            <label>Şehir Seçin</label>
                            <select name="Destination" class="selectpicker">
                                <option value="">Seçiniz</option>
                                <option value="İstanbul">İstanbul</option>
                                <option value="İzmir">İzmir</option>
                                <option value="Bursa">Bursa</option>
                                <option value="Adana">Adana</option>
                                <option value="Eskişehir">Eskişehir</option>
                                <option value="Uşak">Uşak</option>
                            </select>

                        </div>
                        <div class="form-input col-md-4 mt-3">
                            <label>Süre Seçin</label>
                            <select name="Duration" class="selectpicker">
                                <option value="">Seçiniz</option>
                                <option value="1">Günlük</option>
                                <option value="2">2 Günlük</option>
                                <option value="5">5 Günlük</option>
                                <option value="7">7 Günlük</option>
                            </select>

                        </div>
                        <div class="form-input col-md-4 mt-3">
                            <label>Date</label>
                            <input type="date" name="BookingDate" placeholder="Date" required="">
                        </div>
                        <div class="bottom-btn col-md-4 mt-3">
                            <button style="margin-top:30px" class="btn btn-style btn-primary w-100 btn-style">Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>