﻿<section class="w3l-clients" id="client">
    <div class="call-w3">
        <div class="container text-center">
            <div class="title-head">
                <h3>Yolculuğunuzun<br>her aşamasında yanınızdayız.</h3>
                <p>Fugit tempora dolor dolore recusandae aut at cum autem esse neque. Consequuntur dolor sequi nulla corrupti blanditiis similique</p>
                <a class="btn btn-theme2 mt-lg-5 mt-4" href="/Booking/Index/">Book Your Travel</a>
            </div>

        </div>
    </div>
</section>